html{
    background:url("pics/background.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    font-family: 'Noto Sans', sans-serif;
}
header{
    height:12vh;
    min-height:90px;
    /* padding:40px 20px; */
    position:fixed;
    width:100%;
    background-color:rgba(0,0,0,0.7);
    transition:0.5s;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header:hover{
    background-color:rgba(0,0,0,0.3);
    transition:0.5s;
}
.logo{
    margin: 1vw;
}
h1{
    display:inline-block;
    color:white;
}
.navigation{
    /* width: 80vw; */
    height: 12vh;
    min-height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    float: right;
    flex-wrap: wrap;
}
.navigation li{
    text-decoration:none;
    /* height:5vh; */
    min-height: 40px;
    width: 90px;
    color:white;
    font-size:18px;
    transition:0.5s;
    display:flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
}
.navs:hover{
    background:rgba(0,0,0,0.6);
}
.fa{
    padding:0 8px;
}
.home{
    height: 100vh;
    min-height: 525px;
    background-color: rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
}
.home img{
    height:30vh;
    min-height: 160px;
    border:5px solid rgba(0,0,0,0.5);
    border-radius:10px;
}
.home main{
    text-align:center;
    padding:50px;
    font-size:30px;
}
.home h2{
    font-size:50px;
}
.spacer{
    height: 14vh;
    min-height: 100px;
}
.about{
    /* height:105vh; */
    min-height: 820px;
    margin:20px 0 0 0;
    padding:20px 20px 80px 20px;
    background:rgba(0,0,0,0.3);
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.paragraph-list{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.paragraphs{
    display:flex;
    margin:1vh 2vw;
    height: 15vw;
    min-height: 125px;
    width: 80vw;
    max-width: 960px;
    padding: 2vh 0;
    /* border-bottom: 2px solid white; */
    overflow: hidden;
    cursor: pointer;
}
.paragraphs:hover{
    /* background:rgba(0,0,0,0.3); */
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0));
}
.selection{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0));    
}
.image{
    height: 15vw;
    min-height: 125px;
    max-height: 130px;
    width: 20vw;
    min-width: 160px;
    max-width: 240px;
    background-size: cover;
    background-position: center;
}
.img-1{
    background-image: url('pics/beijing.jpg');
}
.img-2{
    background-image: url('pics/su.jpg');
}
.img-3{
    background-image: url('pics/manhattan.jpg');
}
.img-4{
    background-image: url('pics/classroom.jpg');
}
.about h2{
    margin: 5px;
}
.paragraph-single{
    width: 0vw;
}
.scroll{
    display: flex;
    width: 80vw;
    max-width: 960px;
    height:0vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    transition: height 0.5s ease;
    border-bottom: 2px solid white; 
}
.scroll p{
    width: 70vw;
}
.paragraph-title{
    width: 60vw;
    max-width: 720px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.scroll-show{
    height:40vh;
    /* transition: height 1s ease; */
}
.work{
    background:rgba(0,0,0,0.3);
    color:white;
    margin:20px 0;
}
.project-list{
    width:80vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
}
.project{
    height: 260px;
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* border-top: 2px solid white; */
    margin: 2px;
}
.project-name{
    background: rgba(0,0,0,0.7);
    height: 30px;
    width: 360px;
}
.project-pic{
    height: 200px;
    width: 360px;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}
.project-button-list{
    display: flex;
    flex-direction: row;
    width: 360px;
    background: rgba(0,0,0,0.3);
    transition: 0.5s;
}
.project-button{
    height: 30px;
    width: 180px;
    /* background-color: grey; */
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    transition: 0.5s;
}
.project-button:hover{
    background: rgba(0,0,0,0.6);
}
.project-button a{
    text-decoration: none;
    color: white;
    width: 100%;
}
.project-pic-1{
    background-image: url('pics/poke-fight.png');
}
.project-pic-2{
    background-image: url('pics/grandmaster.png');
}
.project-pic-3{
    background-image: url('pics/language-studio.png');
}
.project-pic-4{
    background-image: url('pics/word-hero.png');
}
.tech-used{
    height: 200px;
    width: 360px;
    background:rgba(0,0,0,0.5);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.show-tech{
    opacity: 1;
}
.contact{
    position: fixed;
    width: 100%;
    color:white;
    background-color:rgba(0,0,0,0.7);
    bottom: 0;
}
.contact-list{
    width: 80vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}